# List Operations By Shubham Nivangune

In [ ]:
mylist = ['apple','mango','banana']

In [2]:
print(mylist)

['apple', 'mango', 'banana']

In [3]:
print(len(mylist))
#this is for length

3

In [4]:
mylist.append('orange')
print(mylist)

['apple', 'mango', 'banana', 'orange']

In [5]:
#insert elements perticular position
mylist.insert(1,"watermelon")
print(mylist)

['apple', 'watermelon', 'mango', 'banana', 'orange']

In [6]:
#pop will remove last elementof list
mylist.pop()
print(mylist)

['apple', 'watermelon', 'mango', 'banana']

In [9]:
#for removing
mylist.remove(mylist[0])
print(mylist)

['mango', 'banana']

In [10]:
#for removing
mylist.remove('banana')
print(mylist)

['mango']

In [11]:
#clear function
mylist.clear()
print(mylist)

[]

In [15]:
mylist = ['apple','mango','banana']

In [16]:
#used for reversing list
mylist.reverse()
print(mylist)

['banana', 'mango', 'apple']

In [17]:
mylist = [-1, 5 ,3 ,-1 ,10 ,6]
print(mylist)

[-1, 5, 3, -1, 10, 6]

In [18]:
#used for sorting
mylist.sort()
print(mylist)

[-1, -1, 3, 5, 6, 10]

In [19]:
#for replacing
mylist[0] = 9
print(mylist)

[9, -1, 3, 5, 6, 10]

In [20]:
mylist.insert(0,-1)
print(mylist)

[-1, 9, -1, 3, 5, 6, 10]

In [24]:
#slicing method
print(mylist[0:3])
print(mylist[1:4])

[-1, 9, -1]
[9, -1, 3]

In [26]:
#its start from the begining to end
print(mylist[0::1])

#here is every secound element printed
print(mylist[0::2])
print(mylist[0::3])

print(mylist[1::2])

[-1, 9, -1, 3, 5, 6, 10]
[-1, -1, 5, 10]
[-1, 3, 10]
[9, 3, 6]

In [30]:
#reverse list 
print(mylist[::-1])
print(mylist[5::-1])
print(mylist[::-2])

[10, 6, 5, 3, -1, 9, -1]
[6, 5, 3, -1, 9, -1]
[10, 5, -1, -1]

In [31]:
mylist = ['apple','banana','mango']

In [32]:
#copy list
copy_list = mylist
print(copy_list)

['apple', 'banana', 'mango']

In [33]:
#important note
_list = ['apple','banana','mango']
copy_list = _list
copy_list[0] = 'lemon'

print(_list)
print(copy_list)
#both list changes [original & copied]

['lemon', 'banana', 'mango']
['lemon', 'banana', 'mango']

In [34]:
#important note
_list = ['apple','banana','mango']
copy_list = _list.copy()
copy_list[0] = 'lemon'

print(_list)
print(copy_list)
#use this way


#list_name.copy()

['apple', 'banana', 'mango']
['lemon', 'banana', 'mango']

In [36]:
#square of elementsy
_mylist = [1,2,3,4,5,6,7,8]

newlist = [i*i for i in _mylist]
#explaination :
#1*1 = 1
#2*2 = 4
#3*3 = 9
print(_mylist)
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]